.popup-container {
  position: relative;

  .popup-content {
    position: absolute;
    top: 15%;
    font-size: 12px;
    left: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: fit-content;
    // border: 2px solid rebeccapurple;
    color: white;
    background-color: #161616d8;
    padding: 10px 10px;
    font-family: "Montserrat", sans-serif;
    z-index: 2;
  }
}
